html, body {
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {

}

.searchBox {
  margin-top: 20px;
}

.searchBar {
  padding: 5px;
  font-size: 18px;
}

.searchBtn {
  padding: 5px;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}
